<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                              https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>VoterServlet</servlet-name>
        <servlet-class>com.mycompany.evc.VoterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoterServlet</servlet-name>
        <url-pattern>/VoterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.mycompany.evc.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddVoterServlet</servlet-name>
        <servlet-class>com.mycompany.evc.AddVoterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVoterServlet</servlet-name>
        <url-pattern>/AddVoterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetVotersServlet</servlet-name>
        <servlet-class>com.mycompany.evc.GetVotersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetVotersServlet</servlet-name>
        <url-pattern>/GetVotersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateVoterServlet</servlet-name>
        <servlet-class>com.mycompany.evc.UpdateVoterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateVoterServlet</servlet-name>
        <url-pattern>/UpdateVoterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteVoterServlet</servlet-name>
        <servlet-class>com.mycompany.evc.DeleteVoterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteVoterServlet</servlet-name>
        <url-pattern>/DeleteVoterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCandidateServlet</servlet-name>
        <servlet-class>com.mycompany.evc.AddCandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCandidateServlet</servlet-name>
        <url-pattern>/AddCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCandidateServlet</servlet-name>
        <servlet-class>com.mycompany.evc.GetCandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCandidateServlet</servlet-name>
        <url-pattern>/GetCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCandidateServlet</servlet-name>
        <servlet-class>com.mycompany.evc.DeleteCandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCandidateServlet</servlet-name>
        <url-pattern>/DeleteCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCandidateServlet</servlet-name>
        <servlet-class>com.mycompany.evc.UpdateCandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCandidateServlet</servlet-name>
        <url-pattern>/UpdateCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCandidateForVotingServlet</servlet-name>
        <servlet-class>com.mycompany.evc.GetCandidateForVotingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCandidateForVotingServlet</servlet-name>
        <url-pattern>/GetCandidateForVotingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDashboardServlet</servlet-name>
        <servlet-class>com.mycompany.evc.UserDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDashboardServlet</servlet-name>
        <url-pattern>/UserDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveVotesServlet</servlet-name>
        <servlet-class>com.mycompany.evc.SaveVotesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveVotesServlet</servlet-name>
        <url-pattern>/SaveVotesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadResultServlet</servlet-name>
        <servlet-class>com.mycompany.evc.DownloadResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadResultServlet</servlet-name>
        <url-pattern>/DownloadResultServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetResultsServlet</servlet-name>
        <servlet-class>com.mycompany.evc.ResetResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetResultsServlet</servlet-name>
        <url-pattern>/ResetResultsServlet</url-pattern>
    </servlet-mapping>
</web-app>
